@import 'colors';

// text fonts
@import '../assets/fonts/noto-sans/styles.css';
@import '../assets/fonts/segoe-ui/styles.css';
@import '../assets/fonts/metronic-pro/styles.css';

body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: metronic-pro, 'Segoe UI', segoe-ui, Tahoma, Geneva, Verdana, sans-serif;

  app-root {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: auto 1fr;
    grid-template-areas: "top-bar top-bar" "side-bar content" "bottom-bar bottom-bar";

    .area-top-bar {
      grid-area: top-bar;
    }

    .area-side-bar {
      grid-area: side-bar;
    }

    .area-content {
      grid-area: content;
    }

    .area-bottom-bar {
      grid-area: bottom-bar;
    }
  }
}

// Scroll bar
::-webkit-scrollbar {
  width: 10px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .4);
  border: 3px solid white;
  border-radius: 5px;
}

::-webkit-scrollbar-button {
  height: 2px;
  background: transparent;
}
