<div class="container">
  <section [class.open]="navState == 'open'">
    <div class="navigation-item" *ngFor="let item of navItems" [class.active]="item.active" (click)="clickNavItem(item)">
      <span>{{item.title | translate}}</span>
    </div>
  </section>
</div>


<!--
<div class="collapse-button">
  <input type="checkbox" class="toggler" (click)="onToggleMenu($event.target)"/>
  <div class="hamburger"><div></div></div>
</div>
<div kendoTooltip position="right" class="navigation-menu" [class.collapsed]="menuState === 'collapsed'">
  <div *ngFor="let item of navItems" class="navigation-item" [class.active]="item.id === activeItemId" title="{{ item.title | translate }}">
    <img class="icon" alt="item.title" src="../../assets/images/image-placeholder.jpg"/>
    <pre>{{ item.title | translate }}</pre>
  </div>
</div>
-->
