<div class="header">
  <section>
    <div class="hamburger" [class.is-active]="hamburgerState=='open'" (click)="hamburgerClick()">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
    <img class="logo" alt="Library" src="assets/images/books.png" />
    <h2>{{ 'APPLICATION.NAME' | translate }}</h2>
  </section>

  <section>
    <div *ngIf="this.loggedInUser" class="user-info">
      <p class="user-name">{{this.loggedInUser.nameFirst}}</p>
      <span *ngIf="!this.loggedInUser.avatar" class="user-avatar user-avatar-default" (click)="clickAvatar()">{{this.loggedInUser.nameFirst[0]}}</span>
      <img *ngIf="this.loggedInUser.avatar" class="user-avatar" src="{{this.loggedInUser.avatar}}" alt="{{this.loggedInUser.nameFirst}}" />
    </div>
    <div *ngIf="!this.loggedInUser" class="user-info">
      <button kendoButton (click)="logIn()">Login</button>
    </div>
  </section>
</div>


<!--
<div class="main">
  <div class="loading" [class.on]="false"></div>
  <div class="logo">
    <img alt="logo" src="../../assets/images/books.png" />
    <h2>{{ 'APPLICATION.NAME' | translate }}</h2>
  </div>
  <div class="user-area">
    <kendo-dropdownbutton [data]="languages" class="dropdown-language">
      <img class="lang" alt="{{selectedLanguage}}" src="../../assets/languages/{{selectedLanguage}}.png" />

      <ng-template kendoDropDownButtonItemTemplate let-language>
        <div (click)="setLanguage(language)" style="cursor: pointer;">
          <img alt="{{language}}" src="../../assets/languages/{{language}}.png" style="height: 1rem"/>
          <span style="padding-left: 5px; text-transform: uppercase">{{language}}</span>
        </div>
      </ng-template>
    </kendo-dropdownbutton>

    <img alt="avatar" src="../../assets/images/avatar.png" />
  </div>
</div>
-->
