@import './../../sass/colors.scss';

// Settings

// Hamburger
$hamburger-layer-height   : 4px;
$hamburger-layer-spacing  : 6px;
$hamburger-color          : black;

.header {
  position: relative;
  height: 100%;
  background: #e3e3e3;
  padding: 0 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: inline-block;
  background: transparent;
  cursor: pointer;
  padding: 0 5px;

  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;

  .hamburger-box {
    width: 30px;
    height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: $hamburger-layer-height / -2;

    transition-duration: .075s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);

    &,
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: $hamburger-layer-height;
      background: $hamburger-color;
      border-radius: 4px;
    }

    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::before {
      top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      transition: top .075s .12s ease,
                  opacity .075s ease;
    }

    &::after {
      bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      transition: bottom .075s .12s ease,
                  transform .075s cubic-bezier(.55, .055, .675, .19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: .12s;
      transition-timing-function: cubic-bezier(.215, .61, .355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top .075s ease,
                    opacity .075s .12s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom .075s ease,
                    transform .075s .12s cubic-bezier(.215, .61, .355, 1);
      }
    }
  }
}

img {
  height: 2em;
  padding-left: .5em;
  padding-right: .5em;
  display: none;
}

section {
  display: flex;
  align-items: center;
}

// Tablet size: small(600px - 1023px)
@media screen and (min-width: 600px) {
  img {
    display: initial;
  }
}

// Desktop sizes: medium(1024px -1439px) / large(1440px - 1919px) / xlarge(1920px - ∞)
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
